# Copyright 2015 Howard Hughes Medical Institute.
# All rights reserved.
# Use is subject to Janelia Farm Research Campus Software Copyright 1.1
# license terms ( http://license.janelia.org/license/jfrc_copyright_1_1.html ).
#
# Name: Write Janelia HDF5
# Author: kawaset@janelia.hhmi.org
# Version: 1.0.0
Plugin, "H5J Writer", org.janelia.it.fiji.plugins.h5j.H5J_Writer
